.swiper {
    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 6px;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange-cl;
        width: 8px;
        height: 8px;
    }

    &-button-next , &-button-prev{
        width: 30px;
        height: 30px;
        @include flex-mid;
        border-radius: 100%;
        background-color: $g-E5E5-cl;
        transition: all .3s ease;
        &::after{
            font-size: 12px;
            color: $b-cl;
            font-weight: bold;
            transition: all .3s ease;
        }

        &:hover{
            background-color: $orange-cl;
            &::after{
                color: $w-cl;
            }
        }
    }

    &-button-prev{
        &::after{
            margin-right: 2px;
        }
    }

    &-button-next{
        &::after{
            margin-left: 2px;
        }

    }
}