.footer {
    background-color: #E0E0E0;
    margin-top: auto;
    color:#424C54;

    .logo {
        min-width: 190px;
        margin-bottom: 30px;
        display: block;
    }

    .column {
        width: calc(100% /12 * 2);

        &.ft-ef {
            width: calc(100% / 12 * 3);
        }
    }

    .ft-itm {
        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    .ft-link {
        transition: all .3s ease;
        &:hover {
            color: $main-cl;
        }

        &:nth-child(2){
            display: block;
            padding-left: 64px;
        }
    }

    .ft-title{
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .ft-list{
        .ft-itm{
            display: block;

            &.current-menu{
                font-weight: bold;
            }

            &:not(:first-child){
                margin-top: 15px;
            }

            &:hover{
                color: $main-cl;
            }
        }
    }

    .fanpage{
        iframe{
            border-radius: 10px;
        }
    }


}