.difference{
    .column{
        width: 50%;
    }

    &.dif-visi{
        .img{
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        }
    }

    .dif-box{
        &:nth-child(even){
            padding-top: 70px;
            .columns{
                flex-direction: row-reverse;
            }
        }
    }

    .img{
        border-radius: 10px;
        overflow: hidden;
    }

    .title{
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .mona-content{
        h4{
            margin-top: 0;
            margin-bottom: 15px;
        }

        p{
            &:first-child{
                margin-top: 0;
            }
            margin-bottom: 15px;
        }

        ul{
            padding-left: 20px;
        }

        li{
            &:not(:first-child){
                margin-top: 15px;
            }

            list-style-type: disc;
            list-style-position: outside;

            &::marker{
                color: $main-cl;
            }
        }
    }
}