.qlda-page {
    position: relative;

    .column {
        width: 50%;
    }

    .ellipse-s {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 20%);
        z-index: -1;

        &.ellip-lt {
            right: auto;
            left: 0;
            transform: translate(-40%, -100%);
        }
    }

    .title {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .label {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .mona-content {
        line-height: 1.5;

        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            padding-left: 15px;
        }

        li {
            &:not(:first-child) {
                margin-top: 15px;
            }

            position: relative;
            padding-left: 20px;

            &::before {
                content: '';
                width: 15px;
                height: 15px;
                background-image: url('../img/svg/check.svg');
                filter: brightness(0) invert(0);
                position: absolute;
                top: 4px;
                left: 0;
            }
        }
    }

    .img {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        transition: all .3s ease;
        display: block;

        &:hover {
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

            &::after {
                @include visible;
            }

            .icon-play {
                @include visible;
            }
        }

        >img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            @include pos-full;
            background-color: rgba($color: $b-cl, $alpha: .5);
            transition: all .3s ease;
            @include hidden;
        }

        .icon-play {
            @include pos-mid;
            width: 50px;
            height: 50px;
            z-index: 1;
            transition: all .3s ease;
            @include hidden;
        }
    }
}

.advert {
    background-color: $main-cl;
    color: $w-cl;

    &.ad-news {
        .container-full {
            padding: 0 15px;
        }

        .columns {
            margin: 0;
        }

        .column {
            padding: 0;

            &.txt {
                width: calc(100% / 12 * 7 + 30px);
                padding: 117px 0;
                padding-left: calc((100vw - 1200px) / 2);
            }

            &.ig {
                width: auto;
                position: absolute;
                bottom: 0;
                right: 55px;
                height: auto;
            }
        }
    }

    .adverts-wrapper {
        overflow: hidden;
    }

    .container-full {
        padding: 0;
    }

    .column {
        &.txt {
            width: calc(100% / 12 * 6);
        }

        &.ig {
            width: calc(100% /12 * 4 + 30px);
        }

        &s {
            align-items: center;
            justify-content: space-between;
        }
    }

    .title {
        margin-bottom: 30px;
    }
}


.courses {
    position: relative;

    .title {
        margin-bottom: 15px;
    }

    .column {
        width: calc(100% / 12 * 4);
    }

    .ellipse-s {
        top: 50%;
        transform: translate(-30%, -50%);
    }
}

.page-pfmp {
    position: relative;

    .bg-dots {
        position: absolute;
        top: 20%;
        right: 0;
        transform: translate(30%, 0);

        img {
            animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        }
    }

    .column {
        width: 50%;

        &s {
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    .img {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
    }

    .title {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .mona-content {
        line-height: 1.3;

        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            padding-left: 20px;
        }

        li {
            &:not(:first-child) {
                margin-top: 15px;
            }

            list-style-type: disc;
            list-style-position: outside;

            &::marker {
                color: $main-cl;
            }
        }
    }
}